<aside class="menu">
    <p class="menu-label">
        Specification
    </p>
    <ul class="menu-list">
        <li><a href="#performance">Performance</a></li>
        <li><a href="#structural">Structural</a></li>
        <li><a href="#library">Library</a></li>
    </ul>
    <p class="menu-label">
        Design
    </p>
    <ul class="menu-list">
        <li><a href="#assignment">Assignment</a></li>
        <li><a href="#options">Structural Options</a></li>
    </ul>
    <p class="menu-label">
        Results
    </p>
    <ul class="menu-list">
        <li><a href="#results">View Results</a></li>
    </ul>
</aside>