<html lang="en">
<head>
    {{>header}}

</head>
<body>
{{>nav}}
<div class="container">
    <div class="columns">
        <div class="column is-2">
            {{> menu}}
        </div>
        <div class="column is-9" style="height: 70%">
            <div id="performance">
                {{> performance}}
            </div>
            <div id="structural">
                {{> structural}}
            </div>
            <div id="library">
                library
            </div>
        </div>
    </div>
</div>
</body>
</html>