<html lang="en">
<head>
    {{>header}}
    <script src="../public/js/specify.js"></script>
</head>
<body>
{{>nav}}
<div class="container">
    <div class="columns">
        <div class="column is-2">
            {{> menu}}
        </div>
        <div class="column is-9" style="height: 80%">
            <div id="performance" style="display:none">
                {{> performance}}
            </div>
            <div id="structural" style="display:none">
                {{> structural}}
            </div>
            <div id="library" style="display:none">
                {{> library}}
            </div>
        </div>
    </div>
</div>
</body>
</html>