<ion-header>
  <ion-navbar color="white">
    <ion-buttons end>
      <button ion-button (click)="navCtrl.setRoot('AboutPage')">About</button>
      <button ion-button (click)="navCtrl.setRoot('TeamPage')" class="active">Team</button>
      <button ion-button (click)="navCtrl.setRoot('LoginPage')">Login</button>
      <button ion-button (click)="navCtrl.setRoot('Signup')">Signup</button>
    </ion-buttons>
    <ion-title><img src="assets/images/logo.png"> Phoenix</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="bg-color">
  <ion-grid>
    <div *ngFor="let row of team">
      <ion-row>
        <ion-title>{{row.title}}</ion-title>
      </ion-row>
      <ion-row>
        <ion-col col-3 col-sm-6 col-md-4 col-lg-3 col-xl-3 *ngFor="let person of row.members">
          <ion-card>
            <img src="{{person.img}}"/>
            <ion-card-content>
              <h3>{{person.name}}</h3>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>
