.reduced-padding .btn.btn-secondary {
    padding: 4px 4px;
    width: 28px;
    height: 28px;
}

.tab-grid .fa {
    width: 16px;  
    height: 16px;
}

#gridCanvas {
    border-radius: 24px;
    border-top-left-radius: 0px;
    width: 100%;
}

.tab-grid .row.grid {
    text-align: center;
}

.tab-grid .col-6.grid,
.tab-grid .col-12.grid,
.tab-grid input {
    text-align: center;
}

.tab-grid input.form-control {
    font-size: 12px;
    padding: 4px 2px;
    width: 90%;
    margin: 0px auto;
}

#axis-vals {
    border-right: 2px solid #a7a7a7;
    /* margin-left: 3%; */
}

.row.grid.align-items-center {
    padding-left: 15px;
    padding-right: 15px;
}

div.reduced-padding {
    padding: 0px;
    text-align: center;
    /* border: 1px solid black; */
}

.tab-grid p {
    margin-bottom: 0px;
}

.gridButton .btn.btn-secondary {
    font-size: 14px;
    padding: 4px 8px;
}

.gridButton {
    padding: 0px;
    /* margin-left: 3%; */
}

/* .tab-grid .verticaltext {
    position: relative;
    min-width: 150px;
    margin: 25px 0px 95px -25px;
}

.tab-grid .verticaltext.content {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    position: absolute;
} */

/* .row .col-1,
.row .col-4 {
    border: 1px solid black;
} */