/* #neo {
    background-image: url("https://vignette4.wikia.nocookie.net/powerlisting/images/0/0e/Matrix.gif/revision/latest?cb=20130306190326");
    padding: 0px;   
}

#neo p {
    margin-left: 15px;
    font-weight: bold;
}

.neo-overlay {
    background-color: rgba(255,255,255,.7); 
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 15px;
} */

.result-id {
    border-right: 2px solid lightgray;
}

.result-graph {
    height: 320px;
}

#gridCanvas {
    align-content: center;
    width: 80%;
    height: 80%;
}

.result-table {
    padding: 10px;
    font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.result-table ul {
    -webkit-padding-start: 0;
    list-style-type: none;
}

.result-table li {
    tab-size: 0pt;
}

.result-table p {
    font-weight: bold;
}

.result-btns {
    padding-top: 61.7px;
    height: 240px;
    border-right: 2px solid lightgray;
    background: white;
    text-align: center;
}

.result-btns button {
    margin-bottom: 15px;   
}

.btn.btn-primary {
    cursor: default;
    border-color: #0275d8;
    background-color: white;
    border-width: 3px;
    color: #0275d8;
    /* TODO: I imagine we probably want to standardize fonts across the entire project */
    font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 14px;
    width: 100%;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.btn:hover {
    background-color: #0275d8;
    color: white;
}

.result-svg {
    height: 240px;
    /* border: 2px solid lightgray; */
    background: white;
}

/*** SBOL VISUAL ***/

#sbolCanvas {
    width: 100%;
    height: 100%;
}
#svg {
    width: calc(101% - 37px);
    text-align: center;
    overflow: scroll;
    position: absolute;
    z-index: 1;
}