/*** Sidebar Menu ***/

#sidebarLeft {
    width: 400px;
    height: 100%;
}

/*** GENERAL SPECIFY PAGES ***/

.wrap .btn-sm {
    /* border-radius: 20px;  */
    width: 80%;
    font-size: 12px;
}

.btn.btn-primary {
    cursor: default;
    border-color: #0275d8;
    background-color: white;
    border-width: 3px;
    color: #0275d8;
    /* TODO: I imagine we probably want to standardize fonts across the entire project */
    font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 14px;
    width: 100%;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.btn:hover {
    background-color: #0275d8;
    color: white;
}

 .wrap .btn.btn-primary {
    cursor: default;
    border-color: #0275d8;
    background-color: white;
    border-width: 3px;
    color: #0275d8;
    /* TODO: I imagine we probably want to standardize fonts across the entire project */
    font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 14px;
    width: 100%;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.wrap .btn.btn-primary:hover {
    background-color: #0275d8;
    color: white;
}

.grid-border {
     height: calc(100% - 90px); 
}

.container {
    width: calc(100% - 100px);
    clear: both;
    left: 0;
    margin-left: 0px;
    padding-left: 0px;
}

.editor {
    height: 99%;
    width: 100%;
    font-size: 14px;
    margin: 5px 0px;
    border: 2px solid #c3c3c3;
    border-radius: 12px;
}

/* GridTLI toolbar */
.tli-toolbar {
    background-color: #ffffff;
    width: calc(100% - 100px);
    padding: 12px;
    border-radius: 12px
}

/*** STL TABS ***/

div.tab {
    overflow: hidden;
    padding-left: 24px;
    padding-top: 4px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.tab-btn {
    border-radius: 8px 8px 0px 0px;
    background-color: #e7e7e7;
    border: 2px solid #c7c7c7; 
    outline: none; 
    cursor: pointer;
    padding: 6px 14px;
    width: 100px;
    height: 40px;
    position: relative;
    z-index: 1;
    font-size: 10pt;
    margin-right: 40px;
    border-bottom: none;
}

.tab-btn:nth-child(2) {
    z-index: 3;
}

.tab-btn:focus {
    outline: none;
}

.tab-btn:hover,
.tab-btn.active {
    background-color: #c7c7c7;
    z-index: 5;
}

.tab-btn:before,
.tab-btn:after {
    height: 40px;
    width: 30px;
    background-color: #e7e7e7;
    position: absolute;
    content: "";
    top: -2px;
    z-index: -1;
}

.tab-btn:before {
    left: -16px;
    border-radius: 8px 0px 0px 0px;
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
    border-top: 2px solid #c7c7c7;
    border-left: 2px solid #c7c7c7;
}

.tab-btn:after {
    left: 80px;
    border-radius: 0px 8px 0px 0px;
    -webkit-transform: skewX(25deg);
    transform: skewX(25deg);
    border-right: 2px solid #c7c7c7;
    border-top: 2px solid #c7c7c7;
}

.tab-btn.active:before,
.tab-btn:hover::before,
.tab-btn.active:after,
.tab-btn:hover::after {
    background-color: #c7c7c7;
    border-color:#c7c7c7;
}

 .tab-content {
    margin-top: 0px;
    padding: 6px 12px;
    border: 2px solid #c7c7c7; 
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    height: 100%;
    background-color: #c7c7c7;
}

.tab-grid {
    display: none;
    height: 100%;
}

.tab-timerails {
    display: none;
    height: 100%;
}

/*** STRUCTURAL ***/

.struct {
    display: none;
} 

.text-muted.struct {
    margin-bottom: 0px;
} 

.img-logo-small {
    width: 74px;
    height: 28px;
    margin-left: -10px;
    margin-right: 12px;
}

.form-control.struct {
    width: 54px;
    height: 39px;
}

.form-control.struct option {
    padding: 0px;
}

#eugSolSize {
    margin-right: 12px;
}
/*** PARTS LIBRARY ***/

.library {
    display: none;
}

.flex-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 35px;
}

.librarybox {
    margin: 5px 0px;
    border: 2px solid #c3c3c3;
    border-radius: 12px;
    background: white;
    height: calc(100% - 12px); /* -12px for the padding */
}

.library-header {
    font-weight: bold;
    font-size: 14px;
}

.library-text {
    color: #4A4A4A;
    font-size: 12px;
    font-weight: bold;
    text-align: right;
    padding-top: 8px;
}

.form-control.library {
    width: calc(100% - 22px);
}

.btn-settings {
    border: none;
    padding-right: 4px;
    padding-left: 4px;
}

.table-row {
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
}

thead > tr.row {
    border-top: 1px solid #a4a4a4;
    border-bottom: 1px solid #a4a4a4;
}

tbody {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
}

thead,tbody,tr,td,th {
    display:block;
}

tbody tr.row {
    border-bottom: 1px solid #a4a4a4;
}

tbody td {
    float:left;
    height: 30px;
}

thead > tr > th {
    float:left;
}

/*** Settings Overlay ***/

.pageOverlay {
    height: 100%;
    width: 0px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0);
    z-index: 1;
}

.settings {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 60px; 
    transition: 0.5s;
    color: #19191f;
}

.settings .closebtn {
    position: absolute;
    padding: 8px 8px 8px 32px;
    top: 0;
    right: 20px;
    font-size: 20px;
    color: #19191f;
    transition: 0.3s;
}

.settings .list-group-item {
    width: 100%;
}

.settings a {
    color: #19191f;
}

.settings a:hover {
    color: #4A4A4A;
    text-decoration: none;
}

.settings .input-group.input-area {
    margin-top: 10px;
}

.settings .fa {
    background-color: transparent;
}

.settings .fa.fa-close {
    background-color: transparent;
}

