body {
    background-color: #3f3f3f;
}

.logo-splash {
    margin-top: 6%;
    text-align: center; 
}

.logo-splash img {
    width: 300px;
}

.description {
    margin-top: 4%;
    text-align: center;
    color: white;
    font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 34px;
    letter-spacing: 1.5px;
    line-height: 125%; 
}

.splash {
    text-align: center;
    color: white;
    font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 20px;
    letter-spacing: 1.5px;
    line-height: 125%; 
}

.container.get-started-splash {
    margin-top: 10%;
    text-align: center;
}

.btn-splash {
    margin-top: 10px; 
    border-radius: 48px;
    background-color: #f44a9e;
    letter-spacing: 1px;
    color: white;
    height: 125%;
    width: 200px;
}

.btn-splash:hover,
.btn-splash:active,
.btn-splash:focus {
    background-Color: #D41367;
    color: lightgray;
}

.about {
    position: absolute;
    bottom: 8px;
    width: 100%; 
    text-align: center;
}

.about a {
    color: white;
}

.about a:hover,
.about a:active,
.about a:focus {
    color: #D41367;
}