page-design {

  .item-inner {
    border-bottom: none !important;
  }

  ion-list .item {
    border-bottom: 1px solid #c8c7cc;
  }

  .katex {
    font-size: 1.75em;
  }

  .sbol {
    object-fit: cover;
    width: auto;
    height: 100%;
    margin: 0 auto;
  }
}
