<ion-header>
  <ion-navbar color="white">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ops.projectName}}</ion-title>
    <ion-buttons end>
      <button ion-button (click)="navCtrl.setRoot('AboutPage')">About</button>
      <button ion-button (click)="navCtrl.setRoot('TeamPage')">Team</button>
      <button ion-button icon-left (click)="navCtrl.setRoot('ProjectsPage')" *ngIf="http.user">
        <ion-icon name="ios-photos-outline"></ion-icon>
        Projects
      </button>
      <button ion-button icon-left (click)="http.logout();navCtrl.setRoot('WelcomePage');" *ngIf="http.user">
        <ion-icon name="ios-exit-outline"></ion-icon>
        Logout
      </button>
      <button ion-button icon-only (click)="navCtrl.push('OptionsPage')">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="bg-color" padding>
  <ion-grid no-padding>
    <ion-row *ngIf="design.done">
      <ion-col no-padding>
        <ion-item color="bgColor">
          <ion-label>Circuits</ion-label>
        </ion-item>
        <ion-card>
          <ion-scroll [ngStyle]="{height: height/2 + 'px'}" no-padding scrollY="true">
            <ion-list no-padding>
              <button ion-item *ngFor="let circuit of design.circuits" (click)="design.activeCircuit = circuit.index;design.rootImage = circuit.img">
                <ion-label [ngClass]="design.activeCircuit == circuit.index?'active':''">Circuit {{circuit.index}}</ion-label>
                <ion-icon name="ios-arrow-forward" item-right></ion-icon>
              </button>
            </ion-list>
          </ion-scroll>
        </ion-card>
      </ion-col>
      <ion-col no-padding>
        <ion-item color="bgColor">
          <ion-label>Transcription Units</ion-label>
        </ion-item>
        <ion-card>
          <ion-scroll [ngStyle]="{height: height/2 + 'px'}" no-padding scrollY="true">
            <ion-list no-padding>
              <div *ngFor="let tu of design.circuits[design.activeCircuit-1]['tus']">
                <button ion-item (click)="tu.active = !tu.active;design.rootImage = tu.img">
                  <ion-label [ngClass]="design.activePart[design.activeCircuit-1]['activeTU'] == tu.index?'active':''">TU {{tu.index}}</ion-label>
                  <ion-icon name="ios-arrow-up" item-right *ngIf="!tu.active"></ion-icon>
                  <ion-icon name="ios-arrow-down" item-right *ngIf="tu.active"></ion-icon>
                </button>
                <ion-list *ngIf="tu.active">
                  <button ion-item *ngFor="let part of tu.parts" (click)="design.activeTU = tu.index; design.activePart[design.activeCircuit-1] = { activeTU: tu.index, activePart: part};design.rootImage = tu[part]['img']">
                    <ion-avatar item-start>
                      <img src="assets/parts/{{part}}.png">
                    </ion-avatar>
                    <ion-label [ngClass]="(design.activePart[design.activeCircuit-1]['activePart'] == part)&&(design.activePart[design.activeCircuit-1]['activeTU'] == tu.index)?'active':''">{{part}}</ion-label>
                    <ion-icon name="ios-arrow-forward" item-right></ion-icon>
                  </button>
                </ion-list>
              </div>
            </ion-list>
          </ion-scroll>
        </ion-card>
      </ion-col>
      <ion-col no-padding>
          <ion-item color="bgColor">
            <ion-label>Parts</ion-label>
          </ion-item>
          <ion-card>
            <ion-scroll [ngStyle]="{height: height/2 + 'px'}" no-padding scrollY="true">
            <ion-list>
              <ion-item *ngFor="let can of design.circuits[design.activeCircuit-1]['tus'][design.activePart[design.activeCircuit-1]['activeTU']-1][design.activePart[design.activeCircuit-1]['activePart']].candidates">
                <ion-label>{{can.candidate}}</ion-label>
                <ion-toggle [(ngModel)]="can.active" color="secondary"></ion-toggle>
              </ion-item>
            </ion-list>
          </ion-scroll>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card [ngStyle]="{height: height/2 + 'px'}">
    <ion-segment [(ngModel)]="tabs">
      <ion-segment-button value="SBOL">
        SBOL
      </ion-segment-button>
      <ion-segment-button value="SBML">
        Praremeters
      </ion-segment-button>
      <ion-segment-button value="Details">
        Details
      </ion-segment-button>
    </ion-segment>
    <ion-row *ngIf="tabs == 'SBOL'" style="height: 100%" padding>
      <img src="{{design.rootImage}}" class="sbol">
    </ion-row>
    <ion-row *ngIf="tabs == 'SBML'" style="height: 100%" padding>
      <p><ng-katex [equation]="equation"></ng-katex></p>
      <p><ng-katex [equation]="equation2"></ng-katex></p>
      <p><ng-katex [equation]="equation3"></ng-katex></p>
    </ion-row>
  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col col-2 offset-8>
        <button ion-button block float-right [color]="'gray'">
          Save
        </button>
      </ion-col>
      <ion-col col-2>
        <button ion-button block float-right [color]="'secondary'" (click)="navCtrl.setRoot('ResultsPage',{id: id})">
          Results
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
