<ion-header>
  <ion-navbar color="white">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ops.projectName}}</ion-title>
    <ion-buttons end>
      <button ion-button (click)="navCtrl.setRoot('LoginPage')">Login</button>
      <button ion-button icon-only (click)="navCtrl.setRoot('OptionsPage')">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="bg-color" padding>
  <ion-grid no-padding>
    <ion-row>
      <ion-col no-padding>
        <ion-item color="bgColor">
          <ion-label>Circuits</ion-label>
        </ion-item>
        <ion-card>
          <ion-scroll [ngStyle]="{height: height/2 + 'px'}" no-padding scrollY="true">
            <ion-list no-padding>
              <ion-item *ngFor="let circuit of design.circuits" (click)="design.activeCircuit = circuit.index">
                <ion-label [ngClass]="design.activeCircuit == circuit.index?'active':''">Circuit {{circuit.index}}</ion-label>
              </ion-item>
            </ion-list>
          </ion-scroll>
        </ion-card>
      </ion-col>
      <ion-col no-padding>
        <ion-item color="bgColor">
          <ion-label>Transcription Units</ion-label>
        </ion-item>
        <ion-card>
          <ion-scroll [ngStyle]="{height: height/2 + 'px'}" no-padding scrollY="true">
            <ion-list no-padding>
              <div *ngFor="let tu of design.TUS[design.activeCircuit]">
                <button ion-item (click)="design.activeTUS = design.activeTUS == tu.index?0:tu.index">
                  <ion-label>TU {{tu.index}}</ion-label>
                  <ion-icon name="ios-arrow-up" item-right *ngIf="design.activeTUS != tu.index"></ion-icon>
                  <ion-icon name="ios-arrow-down" item-right *ngIf="design.activeTUS == tu.index"></ion-icon>
                </button>
                <ion-list padding *ngIf="design.activeTUS == tu.index">
                  <button ion-item *ngFor="let part of tu.parts" [ngClass]="design.activePart == part?'active':''" (click)="design.activePart = part">
                    {{ part }}
                  </button>
                </ion-list>
              </div>
            </ion-list>
          </ion-scroll>
        </ion-card>
      </ion-col>
      <ion-col no-padding>
          <ion-item color="bgColor">
            <ion-label>Parts</ion-label>
          </ion-item>
          <ion-card>
            <ion-scroll [ngStyle]="{height: height/2 + 'px'}" no-padding scrollY="true">
            <ion-list *ngIf="design.done">
              <ion-item *ngFor="let can of design.TUS[design.activeCircuit][design.activeTUS-1][design.activePart].candidates">
                <ion-label>{{can.candidate}}</ion-label>
                <ion-toggle [(ngModel)]="can.active" color="secondary"></ion-toggle>
              </ion-item>
            </ion-list>
          </ion-scroll>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card [ngStyle]="{height: height/2 + 'px'}">
    <ion-segment [(ngModel)]="tabs">
      <ion-segment-button value="SBOL">
        SBOL
      </ion-segment-button>
      <ion-segment-button value="SBML">
        SBML
      </ion-segment-button>
      <ion-segment-button value="Details">
        Details
      </ion-segment-button>
    </ion-segment>
  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col col-2 offset-10>
        <button ion-button block float-right [color]="'secondary'">
          Results
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
