// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.bg-color {
  background-color: map-get($colors, bgColor);
}

.inline {
  display: inline-block;
  width:50%;
}

.inlineIcon {
  display: inline-block;
}

ion-menu {
  border-right: none !important;
  max-width: 200px!important;
}

ion-menu .fa-check-square{
  color: map-get($colors, secondary) !important;
}

ion-menu .fa-exclamation-triangle{
  color: map-get($colors, warning) !important;
}

ion-menu .fa-times-circle{
  color: map-get($colors, danger) !important;
}

ion-toolbar {
  min-height: 60px !important;
}

ion-navbar {
  min-height: 60px !important;
}

ion-card-header {
  border-bottom: solid #e5e5e5 1px;
}

.toolbar-title {
  font-size: 3rem !important;
  font-family: 'Open Sans';
  color: grey !important;
}

ion-title img {
  height: 42px;
}

ion-item-divider {
  text-transform: uppercase !important;
  font-family: 'Open Sans' !important;
  color: grey !important;
  border-bottom: none !important;
  font-weight: bold !important;
  font-size: 1.5rem !important;
}

ion-menu button {
  padding-left: 30px !important;
}

.active {
  color: map-get($colors, primary) !important;
  font-weight: bold !important;
}

.disable {
  color: map-get($colors, disabled) !important;
}

ion-card-header ion-label {
  color: map-get($colors, primary) !important;
  font-size: 1.8rem;
  display: inline-block;
}

ion-card-header img {
  height: 47px;
  width: auto;
  display: inline-block;
}

ion-card-header ion-select {
  min-width: 100% !important;
}

ion-select {
  border: solid;
  border-radius: 5px;
  border-color: #c8c7cc;
  border-width: 1px;
}

.select-icon {
  margin-right: 5px !important;
}

.no-padding-top {
  padding-top: 0 !important;
}

