<ion-split-pane>
  <ion-menu [content]="content">
    <ion-header>
      <ion-toolbar color="white">
      </ion-toolbar>
    </ion-header>

    <ion-content class="bg-color" padding>
      <ion-list *ngFor="let section of menu.menu" no-lines>
        <ion-item-divider color="light">{{section.title}}</ion-item-divider>
        <button ion-item color="light" *ngFor="let item of section.pages" (click)="openPage(item.page)" [ngClass]="item.page == menu.activePage?'active':section.active?'':'disable'">
          {{item.name}}
          <i class="fas fa-check-square" *ngIf="item.status == 'Complete'"></i>
          <i class="fas fa-exclamation-triangle" *ngIf="item.status == 'Warning'"></i>
          <i class="fas fa-times-circle" *ngIf="item.status == 'Error'"></i>

        </button>
      </ion-list>
    </ion-content>

  </ion-menu>

  <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
  <ion-nav [root]="rootPage" #content main swipeBackEnabled="false"></ion-nav>
</ion-split-pane>
