<ion-split-pane>
  <ion-menu [content]="content">
    <ion-header>
      <ion-toolbar color="white">
        <ion-title><img src="assets/images/logo.png"> Phoenix</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="bg-color" padding>
      <ion-list *ngFor="let section of menu.menu" no-lines>
        <ion-item-divider color="light">{{section.title}}</ion-item-divider>
        <ion-item color="light" *ngFor="let item of section.pages" [ngClass]="item.page == getActivePage()?'active':section.active?'':'disable'">
          <div class="inline" (click)="openPage(item.page)">{{item.name}}</div>
          <div class="inlineIcon" [tooltip]="item.message" positionH="right" arrow event="hover">
            <i class="fas fa-check-square" *ngIf="item.status == 'Complete'"></i>
            <i class="fas fa-exclamation-triangle" *ngIf="item.status == 'Warning'"></i>
            <i class="fas fa-times-circle" *ngIf="item.status == 'Error'"></i>
          </div>
        </ion-item>
      </ion-list>
    </ion-content>

  </ion-menu>

  <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
  <ion-nav [root]="rootPage" #content main swipeBackEnabled="false"></ion-nav>
</ion-split-pane>
