<ion-header>
  <navbar page="options"></navbar>
</ion-header>
<ion-content class="bg-color" padding>
  <ion-card>
    <ion-card-header>
      <ion-row>
        <ion-col col-2>
          <ion-label class="level">Options</ion-label>
        </ion-col>
        <ion-col col-1 offset-7>
          <ion-label float-right>Sample:</ion-label>
        </ion-col>
        <ion-col col-2>
          <ion-select [(ngModel)]="ops.sample" interface="popover" (ionChange)="ops.applySample()">
            <ion-option *ngFor="let sample of ops.samples" value="{{sample}}">{{sample}}</ion-option>
          </ion-select>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <div>
      <ion-row>
        <ion-col>
          <ion-item tooltip="Only show the top x% of all results" positionV="bottom" arrow event="hover">
            <ion-label floating>Top %</ion-label>
            <ion-input type="number" min="0" max="100" [(ngModel)]="ops.topP"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label floating>Confidence</ion-label>
            <ion-input type="number" min="0" max="1" [(ngModel)]="ops.confidence"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label floating>Threshold</ion-label>
            <ion-input type="number" min="0" max="1" [(ngModel)]="ops.threshold"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label floating>Run Count</ion-label>
            <ion-input type="number" pattern="[0-9]*" min="1" [(ngModel)]="ops.runCount"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-list radio-group [(ngModel)]="ops.emailOption">
          <ion-list-header>
            <b>Email & User Options</b>
          </ion-list-header>
          <ion-item>
            <ion-label>Send me notifications</ion-label>
            <ion-radio value="SendNotifications"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Send me email notifications if an action takes more than 30 seconds
            </ion-label>
            <ion-radio value="SendNotifications>30s"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Do not send me email notifications</ion-label>
            <ion-radio value="NoNotifications"></ion-radio>
          </ion-item>
        </ion-list>
      </ion-row>
      <ion-row>
        <ion-item>
          <ion-label>Advanced User</ion-label>
          <ion-checkbox [(ngModel)]="ops.advUser"></ion-checkbox>
        </ion-item>
      </ion-row>
      <ion-grid>
        <ion-list>
          <ion-list-header><b>Registries</b></ion-list-header>
          <ion-item *ngFor="let r of ops.registries">
            {{r}}
          </ion-item>
        </ion-list>
        <ion-row>
          <ion-col col-10>
            <ion-item>
              <ion-label floating>Add Registry</ion-label>
              <ion-input [(ngModel)]="newRegistry"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col margin-top col-2>
            <button ion-button icon-only color="primary" (click)="add?addRegistry():add=true;">
              <ion-icon name="add"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col col-2>
        <button ion-button outline block (click)="ops.openFile()">
          Upload
        </button>
      </ion-col>
      <ion-col col-2>
        <button ion-button outline block>
          Download
        </button>
      </ion-col>
      <ion-col offset-6 col-2>
        <button ion-button block (click)="ops.saveUserOptions()">
          Save
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
