<div class="card spacer">
    <div class="columns">
        <div class="column is-2">
            <p class="menu-label">Abstracted</p>
            <div class="card is-active">
                <div class="card-content">
                    Test
                </div>
            </div>
        </div>
        <div class="column is-2">
            <p class="menu-label">Assigned</p>
            <div class="card is-active">
                <div class="card-content">
                    Test
                </div>
            </div>
        </div>
        <div class="column is-4">

        </div>
    </div>
</div>