<div class="card">
    <div class="column is-4">
        <aside class="menu">
            <p class="menu-label">Abstracted</p>
        </aside>
        <ul class="menu-list" id="abstractMenu">
        </ul>
    </div>
</div>
<script src="../public/js/assignment.js"></script>