<div class="card spacer">
    <div class="columns" style="height:auto">
        <div class="column is-3">
            <p class="menu-label">Abstracted</p>
            <div class="card is-active">
                <div class="card-content">
                    Test
                </div>
            </div>
        </div>
        <div class="column is-3">
            <p class="menu-label">Assigned</p>
            <div class="card is-active">
                <div class="card-content">
                    Test
                </div>
            </div>
        </div>
        <div class="column is-6">
            <div class="tabs no-tab-margin">
                <ul>
                    <li class="is-active"><a>XHTML</a></li>
                    <li><a>XML</a></li>
                </ul>
            </div>
            <div class="editor" id="editor" style="height: 50%"></div>
        </div>
    </div>
    <div class="columns" style="height:auto">
        <div class="col is-12">
            Test
        </div>
    </div>
</div>