<div class="card spacer">
    <div class="container is-fluid padding-top">
        <label class="label">Registry</label>
        <div class="field has-addons">
            <div class="control is-expanded">
                <div class="select is-fullwidth">
                    <select id="registrySelect">
                        <option value="synbiohub-org">synbiohub.org</option>
                        <option value="synbiohub-cidarlab-org">synbiohub.cidarlab.org</option>
                        <option value="synbiohub-programmingbiology-org">synbiohub.programmingbiology.org</option>
                    </select>
                </div>
            </div>
            <div class="control">
                <a href="javascript:void(0)" class="button is-info"><i class="fa fa-cog" onclick="openRegistryList()"></i></a>
            </div>
        </div>
        <label class="label">Collections</label>
        <div class="field">
            <div class="control">
                <div class="select is-fullwidth spacer-bottom">
                    <select>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card spacer">
    <div class="padding-top">
        <table class="table is-fullwidth is-striped">
            <thead>
            <tr>
                <th>DisplayID</th>
                <th>Name</th>
                <th>Description</th>
            </tr>
            </thead>
            <tr>
                <th>Example</th>
                <th>Example</th>
                <th>Example</th>
            </tr>
            <tr>
                <th>Example</th>
                <th>Example</th>
                <th>Example with a longer description</th>
            </tr>
        </table>
    </div>
</div>
<div id="registryList" class="sidenav">
    <nav class="panel padding" id="registryListOptions">
        <p class="panel-heading">
            Registry List <a href="javascript:void(0)" class="closebtn" onclick="closeRegistryList()">&times;</a>
        </p>
        <a class="panel-block">
            synbiohub.org
        </a>
        <a class="panel-block">
            synbiohub.cidarlab.org
        </a>
        <a class="panel-block">
            synbiohub.programmingbiology.org
        </a>
    </nav>
    <p class="control">
    <div class="field has-addons padding">
        <div class="control is-expanded">
            <input class="input is-fullwidth" type="text" id="registryBox" placeholder="Add Registry">
        </div>
        <div class="control">
            <a class="button is-info" id="addRegistry">
                <i class="fa fa-plus"></i>
            </a>
        </div>
    </div>
    </p>
</div>