<aside class="menu spacer">
    <p class="menu-label">
        Specification
    </p>
    <ul class="menu-list">
        <li><a onclick="setMenuIndex(0)" id="performanceTab">Performance<span id="performanceIcon">
        </span></a></li>
        <li><a onclick="setMenuIndex(1)" id="structuralTab">Structural<span id="structuralIcon">
        </span></a></li>
        <li><a onclick="setMenuIndex(2)" id="libraryTab">Library<span id="libraryIcon">
        </span></a></li>
    </ul>
    <p class="menu-label">
        Design
    </p>
    <ul class="menu-list">
        <li><a onclick="setMenuIndex(3)" id="assignmentTab">Assignment</a></li>
        <li><a onclick="setMenuIndex(4)" id="optionsTab">Structural Options</a></li>
    </ul>
    <p class="menu-label">
        Results
    </p>
    <ul class="menu-list">
        <li><a href="#results">View Results</a></li>
    </ul>
</aside>