<aside class="menu">
    <p class="menu-label">
        Specification
    </p>
    <ul class="menu-list">
        <li><a>Performance</a></li>
        <li><a>Structural</a></li>
        <li><a>Library</a></li>
    </ul>
    <p class="menu-label">
        Design
    </p>
    <ul class="menu-list">
        <li><a>Assignment</a></li>
        <li><a>Structural Options</a></li>
    </ul>
    <p class="menu-label">
        Results
    </p>
    <ul class="menu-list">
        <li><a>View Results</a></li>
    </ul>
</aside>