<aside class="menu">
    <p class="menu-label">
        Specification
    </p>
    <ul class="menu-list">
        <li><a href="#performance">Performance<span class="icon has-text-success"><i class="fa fa-check-square"></i></span></a></li>
        <li><a href="#structural">Structural<span class="icon has-text-warning"> <i class="fa fa-warning"></i></span></a></li>
        <li><a href="#library">Library<span class="icon has-text-danger"><i class="fa fa-ban"></i></span></a></li>
    </ul>
    <p class="menu-label">
        Design
    </p>
    <ul class="menu-list">
        <li><a href="#assignment">Assignment</a></li>
        <li><a href="#options">Structural Options</a></li>
    </ul>
    <p class="menu-label">
        Results
    </p>
    <ul class="menu-list">
        <li><a href="#results">View Results</a></li>
    </ul>
</aside>