<aside class="menu spacer">
    <p class="menu-label">
        Specification
    </p>
    <ul class="menu-list">
        <li><a onclick="setMenuIndex(0)" id="performanceTab">Performance</a></li>
        <li><a onclick="setMenuIndex(1)" id="structuralTab">Structural</a></li>
        <li><a onclick="setMenuIndex(2)" id="libraryTab">Library</a></li>
    </ul>
    <p class="menu-label">
        Design
    </p>
    <ul class="menu-list">
        <li><a href="#assignment">Assignment</a></li>
        <li><a href="#options">Structural Options</a></li>
    </ul>
    <p class="menu-label">
        Results
    </p>
    <ul class="menu-list">
        <li><a href="#results">View Results</a></li>
    </ul>
</aside>