<div class="card spacer">
    <div class="tabs">
        <ul>
            <li id="stlTab" onclick="setTab(0)"><a>STL Editor</a></li>
            <li id="gridTab" onclick="setTab(1)"><a>Grid TLI</a></li>
        </ul>
    </div>
    <div id="stl">
        {{> stlEditor}}
    </div>
    <div id="grid">
        {{> gridTLI}}
    </div>
</div>