<div class="card spacer">
    <div class="tabs">
        <ul>
            <li class="is-active"><a>STL Editor</a></li>
            <li><a>Grid TLI</a></li>
        </ul>
    </div>
    <div>
        {{> stlEditor}}
    </div>
    <script src="../public/js/specify.js"></script>
</div>