<div class="card spacer">
    <div class="tabs">
        <ul>
            <li class="is-active"><a>Eugene Editor</a></li>
        </ul>
    </div>
    <div class="level" style="margin-bottom: 0">
        <div class="columns" style="height: auto">
            <div class="column is-2">
                <div class="level-item">
                    <img src="../public/images/logo/logo-Eugene-Color.png" style="max-height: 36px">
                </div>
            </div>
            <div class="column is-4">
                <div class="level-item">
                    <div class="select is-fullwidth">
                        <select id="eugSolSize">
                            <option selected disabled>Solution Size</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <div class="level-item">
                    <div class="select is-fullwidth">
                        <select id="eugNumSol">
                            <option selected disabled>Number of Solutions</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="column is-2">
                <div class="level-item">
                    <button class="is-pulled-right bottom-spacer button is-info is-outlined" onclick="loadEugeneSample()">Sample</button>
                </div>
            </div>
        </div>
    </div>
    <div id="editorEugene"></div>
    <div class="modal" id="replaceEugene">
        <div class="modal-background"></div>
        <div class="modal-content">
            <article class="message is-danger">
                <div class="message-header">
                    <button class="delete" aria-label="delete" onclick="closeEugeneReplace()"></button>
                </div>
                <div class="message-body">
                    <p>
                        This action will lose your current script. Do you still want to replace with a sample?
                        <button class="is-pulled-right button is-danger is-outlined" onclick="loadEugeneSample(true)">Replace</button>
                    </p>
                </div>
            </article>
        </div>
    </div>
</div>