page-projects {

  .ion-card {
    margin: 0px;
  }

  .datatable-header {
    padding: 1em;
    font-weight: bold;
    border-bottom: solid grey 1px;
  }

  .datatable-header-cell {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center !important;
  }

  .datatable-body-cell {
    text-align: center !important;
  }

  svg {
    display: block;
    margin: 0 auto;
  }

  .datatable-row-even {
    background: rgba(240, 240, 240, 1);
  }

  .datatable-row-odd {
    background: rgba(255, 255, 255,1);
  }

  .datatable-body-cell {
    font-size: 1.2em;
    padding: 0.75em;
  }

  // Style footer appearance
  .datatable-footer {
    border-top: solid grey 1px;
    padding: 0 1em 0 1em;

    .pager {
      li {
        padding: 0 1em !important;

        a {
          color: rgba(68, 68, 68, 1);
          text-decoration: none;
        }
      }
    }
  }

}
