#neo {
    background-image: url("https://vignette4.wikia.nocookie.net/powerlisting/images/0/0e/Matrix.gif/revision/latest?cb=20130306190326");
    padding: 0px;   
}

#neo p {
    margin-left: 15px;
    font-weight: bold;
}

.neo-overlay {
    background-color: rgba(255,255,255,.7); 
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 15px;
}

.result-id {
    border: 2px solid lightgray;
    border-top-left-radius: 24px;
}

.result-graph {
    height: 320px;
    border: 2px solid lightgray;
    border-top-right-radius: 24px;
}

#gridCanvas {
    width: 100%;
    height: 100%;
}

.result-btns {
    padding-top: 61.7px;
    height: 240px;
    border: 2px solid lightgray;
    border-bottom-left-radius: 24px;
    background: white;
    text-align: center;
}

.result-btns button {
    margin-bottom: 15px;   
}

.result-svg {
    height: 240px;
    border: 2px solid lightgray;
    border-bottom-right-radius: 24px;
    background: white;
}

/*** SBOL VISUAL ***/

#sbolCanvas {
    width: 100%;
    height: 100%;
}
#svg {
    width: calc(101% - 37px);
    text-align: center;
    overflow: scroll;
    position: absolute;
    z-index: 1;
}